
a{
  text-decoration: none;
  color: inherit
}
a:hover{
color: inherit;
}


.create-experiment-bg{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 9fr;
  grid-template-areas: 
  "title title side"
  "experiment experiment side";
  height: calc(100% - 64px);
  overflow-x:hidden

}
.c-item-title{
  grid-area: title;
}

.experiment-bg{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "experiment experiment side";
  height: calc(100% - 64px);
}

.item-exp{
  grid-area: experiment;
  height: 100%;
  text-align: center
}
.button-wrapper{
  position: absolute;
  top:50%
}

.item-side{
  grid-area: side;
}

div.form-container{
  width: 35%;
  display:grid;

}

.experiment{
  margin: auto;
  width: 30%;
  padding: 10px;
}
button.experiment-btn{
  width: 100%;
  padding: 10px;
  background-color: rgba(23, 6, 255, 0.767);
  color:white;
  font-weight: 600;
  font-size:1.5rem
}

.bubble {
  border-radius: 50%;
  border: 2px solid black;
  height: 20px;
  width: 20px;
  display: inline-block;
  background-color: white;
  align-items: center;
  text-align: center;
  position: absolute;
}

.bubble-bg {
  width: 500px;
  height: 500px
}

.bg-minus-app{
  height: calc(100% - 57px)

}

#bg {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
#root{
  height: 100vh;
  overflow: auto;
  overflow-x: hidden
}

.vexp-container{
  display: grid;
  grid-template-columns: 1fr 4fr ;
  grid-template-rows: 1fr 12fr;
  grid-template-areas: 
  "title title"
  "tab tabpanel";
  height: calc(100% - 64px);

}

.vexp-btn{
  grid-area: back;
  width: 30%;
  height: 60%;
  align-self: center
}
.vexp-title{
  grid-area: title;
  align-self: center;
  align-items: center;
}

.vexp-tabs{
  grid-area: tab;
}
.vexp-tabspanel{
  grid-area: tabpanel;
  overflow-y: scroll
}

.button-loading{
    color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -18px;
}

.login-bg{
  display:grid;
  height: calc(100% - 60px);
  text-align: center;
  align-items: center;
}
.login-item{
  display:grid;
}

.cexp-bg{
  height: calc(100%-64px);
  overflow-x: hidden;
}
.cexp-form-item{
  width: 25%;
  min-width: 400px;
}

.ctemp-bg{
  height: calc(100% - 100px);
  display: grid;
  grid-template-columns: 7fr 3fr;
}

.ctemp-left{
  display: grid;
  grid-template-rows: 1fr 20fr;
}

.ctemp-bg div.ctemp-side{
  display: grid;
}

.skeleton-graph{
  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: repeat(2,1fr);
  column-gap: 20px;
}
div.sideParam-grid{
  display: grid;
}
 /*------------- APP BAR -------------------*/
.appbar{
  position:sticky ;
  top:0px;
  z-index: 99;
  max-height: 64px;
  min-height: 60px;
  background: #fff;
  width: 100%;
  margin: 0 auto;  
  padding: auto 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  -webkit-box-shadow: 0px 5px 20px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 20px -11px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 20px -11px rgba(0,0,0,0.75);
}

.appbar ul{
  width: 100%;
  display: grid;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}
.appbar ul:first-of-type{
  grid-template-columns: 1fr;
}
.appbar ul:first-of-type li{
  font-size: 1.4rem;
  font-weight: bold;
  text-indent: 30px;
}
.appbar ul:first-of-type li span {
  font-weight: 500;
  color: #444;
}

.appbar ul:last-of-type{
  grid-template-columns: repeat(4, 1fr);

}

.appbar ul li a{
  color:#111;
  text-decoration: none; 
  font-weight: bold;
  display: block;

}

div.circle{
  width: 10px;
  height: 10px;
  background-color: blue;
  border-radius: 5px
}


div.chart-wrapper{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 10px;
  row-gap: 5px;

}

/*------------- HEADER -------------------*/

header.header-bg {
  height: 600px;
  width: 100%;
  background-color: rgba(255,255,255,0.70);
  background-image: url("./images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-blend-mode: soft-light;
  
}
header div.head{
  position: relative;
  z-index: 2;
  display: grid;
  width: 70%;
  grid-template-columns: 6fr 4fr;
  margin: 0 auto;
  padding-top: 8%;
  align-items: center;
}

header div h1{
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 0px;
  margin: 0;
  letter-spacing: 4px;
  border-right: 2px solid #111;
}

header div p{
  padding-left:30px;
  font-size:1.2rem;
  font-weight: 600
}

/*------------- TEXT IN HEADER -------------------*/
section.intro{
  width: 70%;
  padding: 50px 0;
  margin: 50px auto 150px auto;
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
}

section.intro h2{
  font-size: 4.3rem;
  color: #ddd;
  text-transform: uppercase;
 line-height: 4.2rem; 
 padding-right: 10px;
 border-right: 3px solid #ddd;
}

section.intro div p{
padding-left: 10px;
}


/*------------- SERVICES -------------------*/

div.top-services h2{
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  color: #888;
}

div.services {
  display: grid;
  height: auto;
  grid-template-columns: repeat(3,1fr);
 padding: 10px;

}

.services div {
  text-align: center;
  background: #fff;
  width: 90%;
  border-radius: 10px;
  margin: 10px auto 50px auto;
  
  -webkit-box-shadow: 0px 10px 30px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 30px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 30px -9px rgba(0,0,0,0.75);
  
}

.services p.service-icon {
  font-size: 3.4rem;
  padding: 30px 0px 30px 90px;
  margin: 0px 0px 30px 0px;
  text-align: left;
  color: rgb(0, 99, 248);
  filter: grayscale(0%);
  border-bottom: 2px solid rgb(0, 99, 248);
}
.services p.service-title{
  font-size: 3.1rem;
  text-align: start;
  padding: 0;
  padding-left: 15% ;
  margin: 0;
}

.services p:last-of-type{
  padding: 0px 90px 20px 90px; 
  text-align: left;
}

/*------------- FOOTER -------------------*/
footer {
  background: rgb(0, 93, 231);
  color: #fff;
  padding: 20px;
  margin-top: 80px;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  align-items: center;
  text-align: center;
 
}

footer p{
  margin:0;
}

footer ul {
  
  list-style: none;
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(5,1fr);
  justify-items: center;
}

footer ul li a {
  color: #eee;
}